@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Gowun+Batang&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
nav{
    border-bottom: 1px solid black;
    background-color: white;
    color: black;
    font-size: 20px;
}
#home-link {
    font-family: "Bebas Neue", sans-serif;
    color: black;
    font-size: 25px;
    position: relative;
    top: 30px;
    left: 20px;
}
.home-nav{
    display: flex;
    justify-content: end;
    font-family: "Bebas Neue", sans-serif;
}
li{
    list-style: none;
}
.nav-link {
    text-decoration: none;
    margin-right: 20px;
    color: black;
}
#logout {
    margin-right: 20px; 
}
#home-error{
    font-family: "Bebas Neue", sans-serif;
    margin-top: 100px;
    font-size: 30px;
    text-align: center;
}
.text-area{
    display: flex;
    justify-content: end;
}
.paragraph-section{
    background-color: white;
    font-family: "Bebas Neue", sans-serif;
    color: black;
    height: 800px;
    width: 1145px;
    text-align: center;
    position: sticky;
}
#info-header{
    font-size: 35px;
    margin-top: 70px;
}
#info-par{
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 20px;
}
#shop{
    margin-top: 30px;
    color:white;
    background-color: black;
    border-radius: 8px;
    font-size: 25px;
    padding: 5px;
}
.img-section{
    margin-top: -800px;
    width: 900px;
}
#img{
    height: 800px;
}
.product-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding: 0;
    margin-top: 50px;
    list-style: none;
}
#homeProduct-info{
    margin-top: -3px;
}
.product-text{
    margin-top: -100px;
}
.home-product{
    flex: 1 1 250px; 
    max-width: 300px; 
    margin: 10px;
    margin-left: 100px;
    margin-right: 100px;
    box-sizing: border-box;
    width: 25%;
    margin-bottom: 10px;
}
.productImg-area{
    display: flex;
    justify-content: center;
}
.product-img{
    transition: all .5s ease-out;
    margin-top: 50px;
    border-radius: 20px;
    margin-bottom: 30px;
    width: 300px;
    height: 400px;
}
.product-text{
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    color: white;
    font-size: 20px;
}
.productData-area{
    display: flex;
    justify-content: end;
}
.top-area{
    display: flex;
    justify-content: end;
}
.cart-area{
    display: flex;
    justify-content: end;
    margin-right: 15px;
    color: white;
    font-family: "Bebas Neue", sans-serif;
}
#cart-icon{
    border: none;
    margin-top: 10px;
    font-size: 30px;
}
.product-information{
    margin-right: 240px;
}
.product-text{
    margin-top: 200px;
}
#productData-header{
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    padding: 10px;
}
#price{
    padding: 20px;
}
#stock{
    margin-bottom: 20px;
}
#indAdd-product{
    width: 50%;
    font-size: 20px;
    margin-top: 10px;
    background-color: white;
    color: black;
}
.img-container{
    background-color: white;
    height: 100vh;
    width:50%;
    margin-top: -618px;
}
#productData-img{
    margin-top: 140px;
    border-radius: 20px;
    margin-left: 160px;
}
#favorite{
    margin-top: -65px;
}
#favorite:active {
    color: red;
    border: 0px solid black;
}
#indAdd-product:hover{
    background-color: black;
    color: white;
}
#shop:hover{
    background-color: white;
    color: black;
}
#home-error{
    font-family: "Bebas Neue", sans-serif;
    margin-top: 100px;
    font-size: 30px;
    text-align: center;
}
.category-list{
    width: 50%;
    display: flex;
    justify-content: center;
}
.categories{
    margin-top: 100px;
}
#category-name{
    font-family: "Bebas Neue", sans-serif;
    border-bottom: 1px solid white;
    padding: 20px;
    font-size: 30px;
    margin-top: 20px;
    color: white;
}
#category-button{
    color: white;
    border: none;
    font-size: 15px;
    margin-top: -60px;
    margin-left: 84px;
}
.edit-list{
    margin-top: -77px;
}
#edit-btn{
    font-size: 15px;
    color: white;
    margin-left: 135px;
}
.categoryForm-container{
    width: 50%;
    height: 100vh;
    background-color: white;
    height: 100vh;
    margin-left: 840px;
    margin-top: -562px;
}
.catForm-area{
    display: flex;
    justify-content: center;
}
.category-form{
    border: 1px solid black;
    padding: 40px;
    width: 50%;
    font-family: "Bebas Neue", sans-serif;
    margin-top: 300px;
    background-color: black;
    color: white;
    border-radius: 20px;
}
#cat-input{
    font-family: "Bebas Neue", sans-serif;

}
#catForm-btn{
    background-color: black;
    color: white;
}
.tag-list{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100vh;
    font-family: "Bebas Neue", sans-serif;
    color: white;
    font-size: 30px;
}
.tag-items{
    margin-top: 100px;
}
#tag-lines{
    border-bottom: 1px solid white;
}
#tag-del{
    border: none;
    margin-left: 120px;
    margin-top: -30px;
    padding: 0px;
}
.tagEdit-area{
    margin-left: 160px;
    margin-top: -90px;
    margin-bottom: 25px;
}
#tagEdit-btn{
    color: white;
    font-size: 15px;
}
.tag-area{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: white;
    margin-left: 845px;
    margin-top: -962px;
}
.tag-form{
    width:50%;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    height: 25%;
    margin-top: 300px;
    font-family: "Bebas Neue", sans-serif;
}
#tag-input{
    font-family: "Bebas Neue", sans-serif;
}
#tag-btn{
    background-color: black;
    color: white;
    margin-left: 12px;
}
#tag-btn:hover{
    background-color: white;
    color: black;
}
.login-area{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
}
#login-form{
    width: 25%;
    margin-top: 100px;
    border: 1px solid white;
    height: 28%;
    padding: 20px;
    border-radius: 20px;
    font-family: "Bebas Neue", sans-serif;
    background-color: white;
}
#login-btn{
    margin-top: -5px;
    background-color: black;
    color: white
}
#login-btn:hover{
    background-color: white;
    color: black;
}
.signForm-area{
    display: flex;
    justify-content: center;
    height: 100vh;
}
.signup-form{
    margin-top: 100px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    width: 25%;
    height: 40%;
    padding: 20px;
    font-family: "Bebas Neue", sans-serif;
}
#sign-btn{
    background-color: black;
    color: white;
}
#sign-btn:hover{
    background-color: white;
    color: black;
}
#check-account{
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    margin-top: -440px;
    text-align: center;
}
#log-link{
    text-decoration: underline;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
}
.productPage-list{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.productPage-list ul {
    display: flex;
    flex-wrap: wrap; 
    justify-content: end;
    gap: 40px; 
    list-style-type: none; 
    padding: 0; 
    margin-right: 200px;
    margin-left: 150px;
    margin-top: 100px;
}
.productPage-list li {
    flex: 0 1 300px; 
    text-align: center; 
    padding: 10px;
}
.productPage-img{
    border-radius: 20px;
    transition: all .5s ease-out;
}
.product-data{
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    border-bottom: 1px solid white;
}
.actions{
    margin-right: -55px;
}
#productPage-del{
    border: none;
    font-size: 20px;
    margin-left: -100px;
}
#productPage-favorite{
    font-size: 15px;
    margin-top: 11px;
    margin-right: 20px;
}
.edit-area{
    margin-top: -40px;
}
#productEdit-btn{
    font-size: 20px;
    margin-left: 19px;
    text-decoration: none;
    color: white;
}
.productSearch-area{
    display: flex;
    justify-content: end;
}
.search{
    width: 15%;
    margin-top: 10px;
    margin-right: 15px;
}
#search-input{
    font-family: "Bebas Neue", sans-serif;
}
#cart-btn{
    font-size: 20px;
    border: none;
    margin-right: -20px;
    margin-top: -77px;
    height: 25%;
}
.fav-area{
    display: flex;
    justify-content: end;
}
#fav-products{
    border: none;
    margin-right: 290px;
    margin-top: -90px;
    font-size: 20px;
    height: 25%;
}
#product-addCart{
    margin-left: -60px;
    margin-top: 10px;
    color: white;
    font-family: "Bebas Neue", sans-serif;
}
#product-addCart:hover{
    background-color: white;
    color: black;
}
#product-link{
    text-decoration: none;
}
#indiv-product{
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    text-decoration: none;
}
#search-product:hover{
    background-color: white;
    color: black;
}
.add-area{
    background-color: black;
    display: flex;
    justify-content: end;
}
#add-btn{
    font-size: 20px;
    color: white;
    margin-right: 415px;
    margin-top: -83px;
}
.productPage-img:hover{
    margin-bottom: 5px;
    box-shadow: 10px 10px white;
}
#cart-header{
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
}
#cart-del{
    margin-left: 150px;
    border: none;
    margin-top: -38px;
}
#cancel-btn{
    margin-left: 10px;
}
.productForm-area{
    display: flex;
    justify-content: center;
    height: 100vh;
}
.productForm{
    background-color: white;
    color: black;
    font-family: "Bebas Neue", sans-serif;
    width: 50%;
    margin-top: 100px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    height: 85%;
}
#productAdd-btn{
    background-color: black;
    color: white
}
#productAdd-btn:hover{
    background-color: white;
    color: black;
}
.profile-area{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.profile-card{
    margin-top: 100px;
    background-color: white;
    width: 25%;
    height: 25%;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    color: black;
    font-family: "Bebas Neue", sans-serif;
}
#profile-header{
    font-size: 35px;
    margin-bottom: 10px;
}
#updateProfile-link{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
#updateUsername-input{
    font-family: "Bebas Neue", sans-serif;
}
#updateEmail-input{
    font-family: "Bebas Neue", sans-serif;
}
#updatePassword-input{
    font-family: "Bebas Neue", sans-serif;
}
#delete-account{
    font-size: 20px;
    margin-top: 10px;
}
.update-section{
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.form-area{
    margin-top: 100px;
    width: 25%;
    height: 45%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    background-color: black;
    font-family: "Bebas Neue", sans-serif;
}
#finalUpdate-btn{
    margin-top: 10px;
    background-color: black;
    color: white;
}
#finalUpdate-btn:hover{
    background-color: white;
    color: black;
}
#fav-header{
    font-family: "Bebas Neue", sans-serif;
}
#fav-link{
    font-family: "Bebas Neue", sans-serif;
    text-decoration: none;
    color: white;
    font-size: 25px;
    text-align: center;
}
#cart-product{
    text-decoration: none;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
}

.catUpdate-area{
    display: flex;
    justify-content: center;
}
#catUpdate-header{
    margin-top: 20px;
    font-size: 30px;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
}
.catUpdate-form{
    margin-top: 50px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 30px;
    background-color: white;
}
#updateCat-input{
    font-family: "Bebas Neue", sans-serif;
}
#catUpdate-label{
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
}
#catUpdate-btn{
    font-family: "Bebas Neue", sans-serif;
}
#catUpdate-btn:hover{
    background-color: white;
    color: black;
}

.tagUpdate-area{
    display: flex;
    justify-content: center;
}
#updateTag-header{
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
    margin-top: 20px;
}
.tagUpdate-form{
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    margin-top: 50px;
}
#updateTag-label{
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
}
#updateTag-input{
    font-family: "Bebas Neue", sans-serif;
}
#tagUpdate-btn{
    font-family: "Bebas Neue", sans-serif;
}
#tagUpdate-btn:hover{
    background-color: white;
    color: black;
}
#productName-input{
    font-family: "Bebas Neue", sans-serif;
}
#productPrice-input{
    font-family: "Bebas Neue", sans-serif;
}
#productStock-input{
    font-family: "Bebas Neue", sans-serif;
}
#productImage-input{
    font-family: "Bebas Neue", sans-serif;
}
#productCat-input{
    font-family: "Bebas Neue", sans-serif;
}
#productTag-input{
    font-family: "Bebas Neue", sans-serif;
}
#productDescription-input{
    font-family: "Bebas Neue", sans-serif;
}
#updateProduct-header{
    text-align: center;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    margin-top: 20px;
    font-size: 30px;
}
#updateProduct-form{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: -30px;
}
#updateProductName-input{
    font-family: "Bebas Neue", sans-serif;
}
#updatePrice-input{
    font-family: "Bebas Neue", sans-serif;
}
#updateStock-input{
    font-family: "Bebas Neue", sans-serif;
}
#updateProductImage-input{
    font-family: "Bebas Neue", sans-serif;
}
#updateProductCat-input{
    font-family: "Bebas Neue", sans-serif;
}
#updateProductTag-input{
    font-family: "Bebas Neue", sans-serif;
}
#updateDescription-input{
    font-family: "Bebas Neue", sans-serif;
}














#catForm-btn:hover{
    background-color: white;
    color: black;
}
#home-link:hover{
    color: grey;
}
.nav-link:hover{
    color: grey;
}
#logout:hover{
    color: grey;
}
#shop:hover{
    background-color: white;
    color: black;
}
.product-img:hover{
    margin-bottom: 5px;
    box-shadow: 10px 10px white;
}
@media (max-width: 1429px) {
    .paragraph-section{
        width: auto;
    }
    #img{
        display: none;
    }
    .product-section ul {
        margin-top: 870px;
    }
    .category-list{
        width: 25%;
    }
    .categoryForm-container{
        margin-left: 500px;
    }
}
@media (max-width: 950px) {
    .categoryForm-container{
        margin-left: 300px;
    }
}
@media (max-width: 768px) {
    #info-header {
        font-size: 28px;
    }

    #info-par {
        margin: 0 1rem;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    #info-header {
        font-size: 24px;
    }

    #info-par {
        font-size: 16px;
    }
}
@media (max-width: 480px) {
    .product-img {
        width: 120px;
        height: 200px;
    }
}



@media (max-width: 500px) {
    .nav-link{
        font-size: 10px;
    }
    #logout{
        font-size: 10px;
        margin-bottom: -5px;
    }
    #home-link{
        font-size: 10px;
    }
}
